.cards {
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:basline;
    /*flex-flow:wrap-reverse;*/
}

.card .title:first-of-type {
    font-size:30px;
    font-weight:700px;
}

/*
flex-shrink
flex-grow
flex-basis

*/

.order1 {
    order:-1;
}
.order2 {
    order:2;
}
.order3 {
    order:3;
}

.card:last-child {
    flex:1;
}
.card {
    /*flex: 1 1 250px;*/
    flex:1;
    flex-basis: 250px; /*Same as shorthand in comment above. */
    box-shadow:2px 2px 10px #33333369;
    border: 1px solid #999;
    padding: 5px;
    background-color:#f1f1f1;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    
}

.card a {
    display:inline-block;
}

.card img {
    width:100%;
}

.card footer {
    display:flex;
}

.card footer .button:first-child {
    margin-right:auto;
}