/**
css reset
**/

body {
    margin: 0;
    padding:0;
    font-family:'Roboto',sans-serif;
}

.menu-bar {
    height:110px;
    width:100%;
    padding:10px;
    position:fixed;
    z-index:1;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    box-shadow:0 3px 10px 0;

}

.menu {
    width:435px;
}

.teal-bg {
    background-color:#00bcd4;
}

.white-bg {
    background-color: #FFF;
}

.purple-bg {
    background-color:#820bc6;
}

.nav-left {
    display:flex;
    justify-content: flex-start;
    align-items:baseline;
    flex-wrap:wrap;
}

.nav-right {
    font-size:16px;
    padding: 18px 50.75px;
    text-decoration:none;
    color:#FFF;
    margin-right:20px;
    border-radius:3px;
    white-space: nowrap;
    letter-spacing:0;
}

.logo {
    font-family: Helvetica;
    font-size:26px;
    margin-right:30px;
}

.purple {
    color:purple;
}

.menu-item {
    color:#263035;
    padding: 0 10px;
    text-decoration:none;
    letter-spacing:0;
    font-size:16px;
}

.menu-item:hover {
    text-decoration:underline;
    color:whitesmoke;
}
header {
    position:absolute;
    top:0;
}
main {
    margin-top:110px;
}

#hero-banner {
    width:100%;
    margin:0 auto;
}

#hero-banner img {
    width:100%;
}

#hero-banner h2 {
    font-size:14px;
    color:#555;
}

#hero-banner figcaption {
    background-color: #9e9e9e42;
    padding:5px;
}

.banner-text {
    position:absolute;
    left:40%;
    bottom:50%;
    background-color: #000000;
    font-size: 30px;
    padding:20px;
    color:#fff;
}

.button {
        text-decoration:none;
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 16px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
    }

.button-blue {
    background-color: #419BF9;
}

.button-orange {
    background-color: orange;
}

.boxes {
    width:100%;
}

.box {
    min-width:300px; /*Added by me for homework */
    border: 1px solid #999;
    padding: 5px;
    background-color:#f1f1f1;
    width:32%;
    float:left;
    margin: 0px 15px 15px 0px; /*Added by me for homework*/
    box-shadow:2px 2px 10px #33333369;
    position:relative;
    font-size:20px;
}
.box .icon {
    color: #33333369;
    font-size: 20px;
    position:absolute;
    right:10px;
}
.box:hover .icon {
    color:red;
}

.boxes::after {
    clear:both;
    display:block;
    content:" ";
}

.box .title {
    font-size: 24px;
}

.box img {
    width:100%;
}

.boxes.three .box {
    width:30%;
}

.boxes.four .box {
    width:22%;
}

.inverted-heading {
    background-color:#2196f3;
    font-size:1em;
    color:#fff;
    padding:10px;
}



.text-center {
    text-align:center;
}
.assignment-form {
    width:900px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.assignment-form form {
    display:flex;
    flex-direction:column;
}

.assignment-form form div {
    margin:1rem;
}

.assignment-form form input {
    padding:.25rem;
}