@media(max-width:414px) {
    /*Reset added as part of homework */
    *{ 
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    
    .menu-bar .menu {
        display:none;
        background-color:#fff;
        float:left;
        position:absolute;
        left:0;
        top:110px;
    }

    .menu-handler {
        display:block!important;
        border:none;
        background-color:inherit;
    }
    /*Pseudo selector with sibling . CALLED A COMBINATOR.*/
    .menu-handler:focus-within + .menu {
        display:block!important;
        clear:both;
        content:"";
    }

    .menu a {
        display:block;
        min-width:150px;
        border-bottom: 1px solid #3333337d;
        padding:8px;
    }

    .menu {
        width:auto;
    }

    /*box class edits added for homework */
    .box {
        width:100%!important;
        margin-left:0;
        margin-right:0;
    }

    .boxes {
        width:100%;
        padding-left:15px;
        padding-right:15px;
    }

    .banner-text {
        position:relative;
        left:auto;
        bottom:auto;
    }
}

@media(max-width:634px) {
    .nav-left .menu {
        padding-top:2px;
        padding-bottom:6px;
        padding-top:6px;
    }

    .menu a {
        padding-left:0;
    }
}

@media(min-width: 768px) and (max-width:1024px) {
    .menu-bar .menu {
        float:left;
        margin-left:40px;
    }
}
/*
@media(min-width:1025px) {
    .menu-handler{
        display:none;
    }
}
*/
.menu-handler {
    display:none;
}