* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding:5px;
    font-size:23px;
    font-family: 'Lato',sans-serif;
}

.card {
    border-radius:5px;
    border:solid 1px #d3d3d3;
    min-width:200px;
    max-width:250px;
}

.card > .img-container {
    position:relative;
}

.card img {
    width:100%;
    display:block;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.card > .img-container > .price {
    position:absolute;
    bottom:5px;
    left:5px;
    color:#fff;
    font-size:28px;
    letter-spacing:0;
}

.card .description-text-container {
   padding:10px 7px;
}

.card .apartment-text {
    /*
    NOTE: To fit the text in the confines of the provided
    prototype, the font needed to be 1 pixel smaller than
    requested due to using a different font than the prototype.
    */
    font-size:16px; 
    height:23px;
    width:160px;
    letter-spacing:0;
}

.card .navy-blue {
    color:#1e2d52;
}

.card .light-gray {
    color:#d3d3d3;
}