* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.testimonial-parent {
    margin: 80px 0px 0px 72px;
}

.testimonial {
    height:300px;
}

.testimonial-parent .img-container {
    width:400px;
    height:300px;
    margin-right:118px;
    min-width:400px;
}

.img-container img {
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: 0 20%;
    border-radius:20px;
    background-color:#ffd7ab;
}

.testimonial {
    display:flex;
}

.testimonial-text-container {
    padding-top:15px;
    height:100%;
}

.testimonial-text {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;
    font-size:28px;
}

.testimonial-text > p {
    width:458px;
    height:192px;
}

.testimonial-customer-info {
    margin-right:220px;
    font-family: 'Rubik', sans-serif;
}

.testimonial .tesimonial-customer-name {
    font-size:24px;
    color:#373742;
    letter-spacing:0;
    width:300px;
    height:28px;
    font-weight:500
}

.testimonial .testimonial-customer-title {
    width:300px;
    height:24px;
    font-size:20px;
    letter-spacing:0;
    color:#838383;
    font-weight:400;
}

@media (max-width:662px) {
    body {
        padding:10px;
    }

    .testimonial {
        flex-direction:column;
    }

    .testimonial-parent {
        margin:0;
    }

    .testimonial-parent .img-container {
        width:100%;
        min-width:0;
    }
.img-container img {
    width:80%;
    display:block;
    margin:auto;
}
    .testimonial-text > p {
        width:auto;
        height:auto;
        font-size:20px;
        margin-bottom:20px;
    }

    .testimonial .tesimonial-customer-name {
        font-size:18px;
        width:auto;
        height:auto;
    }
    
    .testimonial .testimonial-customer-title {
        font-size:16px;
        width:auto;
        height:auto;
    }
}