* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:arial;
}

form {
    margin:auto;
    padding: 30px 25px; 
    background-color:#B2DFDB;
    width:80%;
    border-radius:5px;
    border:1px solid #5b7270;
}

form h1 {
    padding-bottom:8px;
    border-bottom:solid 1px rgba(34,36,38,0.7);
    margin-bottom:15px;
}

form > .row {
    width:100%;
    margin-bottom:20px;
    display:flex;
    justify-content:space-between;
}

.half {
    width:49%;
}

.left-long {
    width:69%;
}

.right-short {
    width:29%;
}

form label {
    display:inline-block;
    margin-bottom:5px;
}

form select, input {
    display:block;
    color:gray;
    border:none;
    border-radius:5px;
    border:1px solid gray;
    padding:10px;
    width:100%;
}

@media (max-width:375px) {
    form {
        width:90%;
        margin:auto;
    }

    form > .row {
        flex-direction:column;
        margin-bottom:0;
    }

    .left-long, 
    .right-short, 
    .half {
        width:100%;
        margin-bottom:20px;
    }
}