* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#e9e9e9;
    font-family: 'Roboto',sans-serif;
    font-size:16px;
}

.viewport-centered {
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items: center;
}

.viewport-horizontal-padding {
    padding: 0 15px;
}

.column-layout {
 display:flex;
 flex-direction:column;
}

.form-group {
    max-width:500px;
    flex:1;
    position:relative;
}

.form-group fieldset {
    border:none;
}

.form-group .header-container {
    display:flex;
    align-items: center;
    justify-content:center;
    color:#2ab5ad;
    font-weight:bold;
    margin-bottom:15px;
}

.form-group .logo {
    font-weight:900;
    font-size: 48px;
    background-color:#2ab5ad;
    width:75px;
    min-width:75px;
    height:75px;
    display:flex;
    align-items:center;
    justify-content: center;
    color:#FFF;
}

.form-group h1 {
    margin-left:20px;
    font-weight:400;
}

.form-group .form-input {
    background-color:#FFF;
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    box-shadow: 0px 1px 2px gray;
    position:relative;
}

.form-input::after {
    background-color:lightgray;
    height:1px;
    width:100%;
    content:"";
    display:block;
    position:absolute;
    left:0;
    bottom:2px;
}

.form-group .input-container {
    position:relative;
}

.form-group .input-container > input, a {
    width:100%;
    margin-bottom: 15px;
}

.form-group .input-container > input {
    padding: 10px 0 10px 25px;
}

.form-group .input-container > .fas {
    color:lightgray;
    position:absolute;
    z-index:1;
    top:10px;
    left:5px;
}

.form-group .form-input > .login-button {
    background-color:#2ab5ad;
    display:block;
    text-align:center;
    padding: 15px 0;
    font-weight:bold;
    color:#FFF;
    text-decoration:none;
    border-radius:5px;
    font-size:1.2rem;
    width:100%;
    border:none;
}

.sign-up {
    background-color:#FFF;
    padding: 15px 0;
    border-radius:5px;
    border: 1px solid lightgray;
    text-align:center;
}

.sign-up > .login-button {
    color:#4283c4;
    text-decoration:none;
}