* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:arial;
    padding:5px;
}

.mailbox-folders {
    min-width:125px;
    max-width:400px;
    display:block;
    margin:auto;
    border-radius:4px;
    border:solid 1px #d3d3d3;
    font-size:16px;
    display:flex;
    flex-direction:column;
}

.mailbox-folders .folder {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    border-bottom:solid 1px #d3d3d3;
    padding: 12px 20px;
}

.mailbox-folders>.folder:last-child {
    border-bottom:none;
}

.mailbox-folders .notification-count {
    background-color:#007bff;
    color:#fff;
    padding:3px 7px;
    border-radius:10rem;
    font-size:75%;
}




