*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:arial;
    padding:10px;
}

.shipping-information {
    background-color:#B2DFDB;
    padding:15px;
    border:1px solid #d3d3d3;
    width:90%;
    border-radius:5px;
    max-width:818px;
}

.shipping-information>hr {
    margin: 8px 0 15px 0;
    height:1px;
    color:rgba(34, 36, 38, 0.7);
}

.shipping-information>label {
    color:darkgray;
    margin-bottom:10px;
}
.row::after {
    display:block;
    content:"";
    clear:both;
}
.left {
    float:left;
}

.right {
    float:right;
}

.half {
    width:49%;
}

.shipping-information .user-input {
    width:100%;
    padding:5px 3px;
    border-radius:5px;
    border:1px solid #D3D3D3;
}

.row {
    margin-bottom:20px;
}

#address {
    width: 83%;
}

#unit {
    width:15%;
}

@media(max-width:450px) {
    body {
        padding:5px;
    }

    .shipping-information {
        width:100%;
    }

    .shipping-information .left {
        width:100%;
    }

    .shipping-information .right {
        width:100%;
    }

    #address {
        width:100%;
    }

    #unit {
        width:100%;
    }

    .shipping-information .row {
        margin-bottom: 0px;
    }

    .shipping-information .user-input {
        margin-bottom:20px;
    }
}