* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:lightgray;
    padding:10px;
}

.testimonial-parent {
    display:inline-block;
}

.testimonial {
    background-color:#fff;
    display:flex;
    flex-direction:row;
    border-radius:20px;
    padding:80px 0 80px 72px;
}

.testimonial > .img-container {
    height:300px;
    width:400px;   
}

.testimonial img {
    border-radius:20px;
    height:100%;
    width:100%;
    background-color: #ffd7ab;
    object-fit: cover; 
    object-position:0 20%;
}

.testimonial > .testimonial-text-container {
    width:638px;
    position:relative;
}

.testimonial-text-container > .testimonial-text {
    padding-top:15px;
    margin:auto;
    width:458px;
    height:192px;
    font-size:30px;
}

.testimonial-text-container .testimonial-customer-info {
    font-family: 'Rubik', sans-serif;
    position:absolute;
    bottom:0;
}
.testimonial-text-container .tesimonial-customer-name {
    font-size:24px;
    margin-bottom:5px;
    color:#373742;
    font-weight:500;
}

.testimonial-text-container .testimonial-customer-title {
    color:#838383;
    font-size:20px;
    font-weight:400;
}

@media(max-width:1048px) {
    body {
        padding-top: 10px;
    }

    .testimonial-parent {
        margin:0;
        width:90%;
        max-width:390px;
        display:block;
        margin:auto;
    }

    .testimonial {
        flex-direction:column;
        padding:0;
    }

    .testimonial > .img-container {
        width:100%;
        height:auto;
        
    }

    .testimonial img {
        height:auto;
    }

    .testimonial > .testimonial-text-container {
        padding-top:0;
        width:auto;

    }

    .testimonial .testimonial-text {
        width:100%;
        height:auto;
        font-size:22px;
        padding:10px;
    }

    .testimonial .testimonial-customer-info {
        font-family:arial;
        position:relative;
        margin-top:20px;
    }

    .testimonial .tesimonial-customer-name {
        font-size:16px;
    }
    
    .testimonial .testimonial-customer-title {
        font-size:12px;
        padding-bottom:10px;
    }
}