html {
    scroll-behavior:smooth;
}

.page-header {
    position:relative;
}

#banner-img {
    width:100%;
}

.bg-purple {
    background-color: #820bc6;
}

.bg-orange {
    background-color:orange;
}

.bg-black {
    background-color:black;
}

.navbar-brand {
    font-size:1.5rem;
}

.card {
    max-width:300px;
}

.text-purple {
    color: #820bc6;
}

/*Cancel button animations 
to be more consistent with orange button */
.btn-animate-cancel:hover,
.btn-animate-cancel:active, 
.btn-animate-cancel:focus, 
.btn-animate-cancel:focus-within {
    background-color:#007bff!important;
    transition:none!important;
    animation:none!important;
    border: 1px solid transparent!important;
}

.navbar {
    position:fixed;
    width:100%; 
    z-index:2;
    top:0;
}

#hero {
    margin-top:80px;
}

.heart-container {
    position:absolute;
    right:0;
    height:4rem;
    width:4rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.heart-bg {
    width:100%;
    height:100%;
    position:absolute;
    opacity:.8;
}

.fa-heart {
    font-size:2rem;
    color:gray;
    z-index:1;
}

.card:hover .fa-heart {
    color:red;
    cursor:pointer;
    animation: heart-beat .25s linear;
}

@keyframes heart-beat {
    50% {
        font-size:2.5rem;
    }

    100% {
        font-size:2rem;
        color:red;
    }
}

/*Only for xs & sm devices */
@media (max-width: 767px) { 
    .navbar-toggler:focus-within + #navbarSupportedContent {
        position:absolute;
        display:block!important;
        top:78px;
        left:0;
        box-shadow:1px 2px 5px #d3d3d3;
    }

    .navbar-nav >li {
        padding:5px 10px;
        border-bottom: solid 1px lightgray;
    } 
    
    .navbar-nav >li:last-child {
        border-bottom:none;
    }
    #login-button {
        display:none;
    }
}

/*Following media query lines 
up with large devices in Bootstrap. */
@media (min-width: 992px) { 
    .jumbotron {
        position:absolute;
        bottom:15%;
        right:3%
    }
 }

 /*Following media query lines
 up with XL devices in Bootstrap. */
 @media (min-width: 1200px) { 
    .jumbotron {
        padding:50px !important;
    }
  }